*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body,
h1,
h2,
h3,
p,
ul {
  margin-block-start: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
