:root {
  --primary-color: rgba(50, 133, 255, 1);
  --bodyparagraph-bold: rgba(17, 17, 17, 1);
  --body-paragraph-bold-font-family: "Poppins", Helvetica;
  --body-paragraph-bold-font-weight: 700;
  --body-paragraph-bold-font-size: 16px;
  --body-paragraph-bold-letter-spacing: 0px;
  --body-paragraph-bold-line-height: normal;
  --body-paragraph-bold-font-style: normal;
  --body-paragraph-regular-font-family: "Poppins", Helvetica;
  --body-paragraph-regular-font-weight: 400;
  --body-paragraph-regular-font-size: 16px;
  --body-paragraph-regular-letter-spacing: 0px;
  --body-paragraph-regular-line-height: normal;
  --body-paragraph-regular-font-style: normal;
  --heading-h2-bold-font-family: "Poppins", Helvetica;
  --heading-h2-bold-font-weight: 700;
  --heading-h2-bold-font-size: 32px;
  --heading-h2-bold-letter-spacing: 0px;
  --heading-h2-bold-line-height: normal;
  --heading-h2-bold-font-style: normal;
  --h3-regular-font-family: "Poppins", Helvetica;
  --h3-regular-font-weight: 400;
  --h3-regular-font-size: 20px;
  --h3-regular-letter-spacing: 0px;
  --h3-regular-line-height: normal;
  --h3-regular-font-style: normal;
  --heading-top-regular-font-family: "Poppins", Helvetica;
  --heading-top-regular-font-weight: 400;
  --heading-top-regular-font-size: 40px;
  --heading-top-regular-letter-spacing: 0px;
  --heading-top-regular-line-height: normal;
  --heading-top-regular-font-style: normal;
  --size-radius-full: 9999px;
  --shape-corner-full: 1000px;
} 
